  .shop-search-bar {
   
    input {
        font-size: 20px;

        height: 40px;
        width: 100%;
        border: 1px solid #E6E6E6;
        border-radius: 20px;
        padding-left: 10px;

        color: #808080;

        &::placeholder {
            color: #CCCCCC;
        }


        &:focus {
            outline: none;
        }

    }
}

.search-bar-grid {
    display: flex;

    &__icon {
        font-size: 18px;
        align-self: center;
        margin-right: 10px;
    }
     
    
}